body {
   font-family: "Poppins", sans-serif;
}
.nav-list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header {
   background-color: darkgoldenrod;
}
