* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   line-height: 1.4;
   color: #4d2323;
}

.nav-list {
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(49, 3, 49);
   list-style: none;
}

.nav-link {
   padding: 0 20px;
   text-decoration: none;
   line-height: 50px;
   color: rgb(255, 255, 204);
   transition: color 0.5s;
}

.nav-link:hover {
   padding: 0 20px;
   color: #f0c60e;
   transition: color 0.5s;
}

.left-side {
   background-color: rgb(163, 163, 71);
   width: 300px;
}

.right-side {
   display: flex;
   flex-direction: column;
}

.title {
   font-family: Gill Sans Extrabold, sans-serif;
   font-size: 50px;
   margin-bottom: 0;
}

.page-title {
   padding-left: 100px;
}

.section-title {
   background-color: #c0c0c0;
   padding-left: 40px;
}
.projects-list {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   margin: 0 10px;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
.projects-title {
   position: relative;
   margin: 0;
   padding: 0 10px;
   font-weight: 400;
   color: black;
}
.projects-image {
   height: max-content;
   object-fit: contain;
   box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.projects-title:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 50%;
   height: 2px;
   background-color: #ccc;
}
.projects-link {
   text-decoration: none;
   transition: color 0.5s;
}
.projects-item:hover .projects-image {
   box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
}
.projects-item:hover .projects-title {
   text-shadow: 0px 3px 3px rgba(150, 150, 150, 1);
}
.projects-item:hover .projects-title:after {
   width: 100%;
   background-color: #f2c100;
   transition: width 0.5s;
}
.projects-item:active .projects-image {
   box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.2);
}
.projects-item:active .projects-title {
   color: rgba(0, 0, 0, 0.5);
}
.projects-item:active .projects-title:after {
   background-color: #ccc;
}
.main {
   display: flex;
}

.about-me {
   padding: 0 50px;
}

.section-item a {
   /* color: black; */
   color: rgb(255, 255, 204);
   text-decoration: none;
   transition: color 0.5s;
}

.section-item a:hover {
   color: #4d2323;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.footer-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #777799;
}
.github {
   margin-top: 15px;
}
