* {
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   line-height: 1.4;
   color: #4d2323;
}

.nav-list {
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(153, 102, 153);
   list-style: none;
}

.nav-link {
   padding: 0 20px;
   text-decoration: none;
   line-height: 50px;
   color: rgb(255, 255, 204);
   transition: color 0.5s;
}
.nav-link:hover {
   padding: 0 20px;
   background-color: black;
   color: #f0c60e;
   transition: color 0.5s;
}
.left-side {
   background-color: #2cd494;
   width: 300px;
}
.right-side {
   display: flex;
   flex-direction: column;
}
.title {
   font-family: Gill Sans Extrabold, sans-serif;
   font-size: 50px;
}
.page-title {
   padding-left: 100px;
}
.section-title {
   background-color: #c0c0c0;
   padding-left: 40px;
}
.main {
   display: flex;
}
.about-me {
   padding: 0 50px;
}
.section-item a {
   color: #7d278f;
   text-decoration: none;
   transition: color 0.5s;
}
.section-item a:hover {
   color: #4d2323;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
}
.footer-container {
   display: flex;
   justify-content: space-between;
   background-color: #777799;
}
